html,body {
    background-color: #f1f2f9;
    min-height: 100vh;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
-webkit-scrollbar {
    display: none
}
#app{
    position: relative;
    min-height: 100vh;

}