@import url('./base.css');

.text-center {
    text-align: center !important;
}

.small-text {
    font-size: 12px !important;
}

.normal-text {
    font-size: 14px !important;
}

.big-text {
    font-size: 16px !important;
}

.huge-text {
    font-size: 18px !important;
}

.round-box {
    border-radius: 5px;
    overflow: hidden;
}

.red {
    color: rgb(240, 80, 110);
}

.green {
    color: rgb(114, 229, 169);
}

.light-blue {
    color: rgb(63, 197, 246);
}

.deep-blue {
    color: rgb(97, 122, 171);
}

.pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}